#if( $ctx.error )
$util.error($ctx.error.message, $ctx.error.type)
#else
#if($context.result["Owner"] != $context.identity.username)
  $util.toJson($ctx.result)
#else
  #set($data = {})
  #foreach ($key in $ctx.result.keySet())
    #if($key != "players")
      $util.qr($data.put($key, $ctx.result.get($key)))
    #end
  #end
  $util.toJson($data)
#end
#end